body {
    background-color: #ffffff;
}

#container {
    background-color: hsl(46, 100%, 75%);
    width: 90%;
    margin: 20px auto;
    border: 1.5px solid hsl(20, 67%, 37%);
    padding: 20px;
    border-radius: 10px;
}

header {
text-align: center;
padding: 50px;
}

header h1 {
    color: hsl(0, 94%, 38%);
    font-size: 2.5em;
}

nav {
    text-align: center;
    border-top: 4px solid hsl(0, 94%, 38%);
    border-bottom: 4px solid hsl(0, 94%, 38%);
    padding: 20px 0;
}

nav li {
    display: block;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    color: hsl(0, 94%, 38%);
    font-size: 30px;
    height: 50px;
    background-color: hsl(0, 100%, 51%);
    color: hsl(0, 14%, 99%);
    margin: 10px 0;
    padding: 10px 0;
    text-decoration: none;
}

nav a:hover {
    color: hsl(0, 94%, 38%);
    text-decoration: none;
}

main {
    margin: 20px auto;
    border: 1.5px solid hsl(0, 94%, 38%);
    padding: 20px;
    border-radius: 10px;
}

main h2 {
    color: hsl(0, 94%, 38%);
    text-align: center;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    padding: 20px 0;
    text-align: center;
    border-top: 4px solid hsl(0, 94%, 38%);
}


/* tablet styles */

@media (min-width: 786px) {
    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 225px;
        height: 30px;
        padding: 10px 20px;
        line-height: 30px;
    }

    .multi-col {
      display: flex
   }
    
    .multi-col section 
    aside{
        width: 50%;
        border: 1px solid hsl(0, 94%, 38%);
        padding: 20px;
        margin: 20px;
    }

}

/* desktop styles */

@media (min-width: 1024px) {
   .image-container {
      display: flex;
   }

.image_style {
    border: 2px solid hsl(0, 100%, 50%);
    border-radius: 20px;
    margin: 20px;
    }
}